*{
    font-family: 'Roboto', sans-serif;
}

.content{
    padding: 1rem;
}

.content h1{
    margin: 0;
}

.pokemon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
}